{% extends 'main/base.html' %}
{% block title %}
О нас
{% endblock%}
{% block vkladka %}
<a class="nav-link" href="/">Главная</a>
<a class="nav-link active" href="about-us">О нас</a>
{% endblock %}
{% block text %}
Будь осторожен. В нынешние времена не стоит небрежно разгуливать по просторам интернета. Мы - команда SysR.
Помни о нас, но считай нас мифом. Живи нашим движением, созедая справедливость. Мы поймём, если ты не откликнешься.
Мы уничтожим, если ты попытаешься переиграть нас. Тайны и загадки раскроются совсем скоро.
{% endblock %}
{% block button %}
<a href="/" class="btn btn-lg btn-secondary">На главную</a>
{% endblock %}