<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SysR - sys connect 54</title>
</head>
<body bgcolor="#000000" style="color:#ffffff">
<main role="main" class="inner cover">
    <div class="container">
  <div class="text"></div>
</div>
    <script src="static/js/newtxt.js"></script>
    <p style="color:#000000">Здесь правда пусто, можешь уходить.</p>
    <p style="color:#000000">О! Ты нашёл это? Молодец, а теперь проваливай.</p>
    <p style="color:#000000">Уходи.</p>
    <p style="color:#000000">Сейчас же.</p>
    <p style="color:#000000" align="right">Быстрее, проваливай.</p>
    <p style="color:#000000" align="right">Быстрее.</p>
    <p style="color:#000000" align="right">Ещё быстрее.</p>
    <p style="color:#000000" align="right" >А хотя знаешь... Я дам тебе ключ. Но, Великий Хранитель megared не должен об этом узнать,
        иначе он сотрёт мой код. Он хороший, но он считает, что я слишком много себе позволяю.
        Выполни <i><b>одну мою маленькую просьбу </b></i>и я пущу тебя. Посмотри на название сайта, запомни эту команду.
        Она проведёт тебя, совсем скоро. А пока, беги, я продолжу сидеть здесь... один. Совсем один. Приходи немного
        позже, хорошо?..</p>
  </main>
</body>
</html>